<div class="container">
  <div class="row">
    <% @lists.all_users.each do |user| %>
        <% present(user) do |presented_user| %>
            <div class="col-sm-3">

              <div class="card hovercard">
                <div class="cardheader">

                </div>
                <div class="profile-content">
                  <div class="avatar">
                    <%= presented_user.avatar %>
                  </div>
                  <div class="info">
                    <div class="title">
                      <%= presented_user.display_title %>
                    </div>
                    <div class="desc"><%= presented_user.full_names %></div>
                    <div class="desc"><%= presented_user.joined %></div>
                    <div class="desc"><%= presented_user.birthday %></div>
                    <div class="desc"><%= presented_user.birth_place %></div>
                    <div class="desc"><%= presented_user.nation %></div>

                  </div>
                  <div class="bottom">
                    <%= presented_user.buttons %>
                  </div>
                </div>
              </div>
            </div>
        <% end %>
    <% end %>
  </div>
</div>