<div class="avatar">
  <% if @user.profile_picture.file.blank? %>
      <%= image_tag 'nobody_m.original.jpg' %>
  <% else %>
      <%= image_tag @user.profile_picture.url %>
  <% end %>
</div>
<div class="info">
  <div class="title">
    <%= link_to(@user.display_name, profile_path(@user)) %>
  </div>
  <div class="desc"><%= present(@user).full_names %></div>
  <div class="desc"><%= present(@user).joined %></div>
  <div class="desc"><%= present(@user).birthday %></div>
  <div class="desc"><%= present(@user).birth_place %></div>
  <div class="desc"><%= present(@user).nation %></div>

</div>
<div class="bottom">
  <%= present(@user).buttons %>
</div>