<div class="avatar">
  <%= present(@user).avatar %>
</div>
<div class="info">
  <div class="title">
    <%= present(@user).display_title %>
  </div>
  <div class="desc"><%= present(@user).full_names %></div>
  <div class="desc"><%= present(@user).joined %></div>
  <div class="desc"><%= present(@user).birthday %></div>
  <div class="desc"><%= present(@user).birth_place %></div>
  <div class="desc"><%= present(@user).nation %></div>

</div>
<div class="bottom">
  <%= present(@user).buttons %>
</div>