<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <div class="card hovercard">
        <div class="cardheader">

        </div>
        <div class="avatar">
          <%= image_tag @user.profile_picture %>
        </div>
        <div class="info">
          <div class="title">
            <%= @user.display_name %>
          </div>
          <div class="desc"><%= full_names %></div>
          <div class="desc"><%= joined %></div>
          <div class="desc"><%= birthday %></div>
          <div class="desc"><%= birth_place %></div>
          <div class="desc"><%= nation %></div>

        </div>
        <div class="bottom">
          <a class="btn btn-primary btn-sm" href="/profile/<%= @user.id %>/edit">
            <i class="fa fa-pencil"></i>
          </a>
        </div>
      </div>

    </div>

  </div>
</div>